body {
    border : 2px solid rgb(246, 7, 7);
    margin: 70px;
    padding: 8px;
}

#logo {
    border: 2px solid rgb(49, 224, 15);
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: lightgray;
    img {
        width: 180px;
        height: auto;
    }
   }

   #tagline {
    border: 2px solid rgb(7, 7, 246);
    background-color: rgba(247, 247, 237, 0);
    text-align: center;
    font-style: italic;
    margin-bottom: 70px;
    padding: 1px;
   }

   #title {
    border: 2px solid rgb(246, 7, 231);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 10px;
   }

   #description1 {
    border: 2px solid rgb(7, 246, 231);
    font-size: 18px;
    margin-bottom: 30px;
    padding: 10px;
   }

   #focaccia-image1 {
    border: 0 solid rgba(255, 255, 255, 0);
    box-shadow: 5px 5px 15px gray;
    text-align: center;

    border-radius: 15px;  
    overflow: hidden;    
}

#focaccia-image1 img {
    width: 100%;
    height: auto;          
    display: block; 
}

   #description2 {
    border: 2px solid rgba(246, 206, 7, 0);
    color: rgb(174, 170, 170);
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;

   }

   #featured-in {
    border: 2px solid rgba(246, 122, 7, 0);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 10px;
   }

   #ingredients-title {
    border: 2px solid rgb(7, 123, 246);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
   }

   #ingredients-list {
    border: 2px solid rgb(7, 246, 123);
    font-size: 16px;
    margin-bottom: 30px;
    padding: 10px;
   }

   #method-title {
    border: 2px solid rgb(181, 7, 246);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
   }

   #method-steps {
    border: 2px solid rgb(246, 7, 181);
    font-size: 16px;
    margin-bottom: 30px;
    padding: 10px;
   }